{% extends 'base.html.twig' %}

{% block title %}Mes projets {% endblock %}

{% block body %}


     {% if is_granted('ROLE_ADMIN') %}
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="{{path('homme')}}">Home</a>
    </li>


      <li class="nav-item">
        <a class="nav-link" href="{{path('sonata_admin_dashboard')}}">Admin</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{path('api_entrypoint')}}">Api</a>
      </li>
          <li class="nav-item">
        <a class="nav-link" href="{{path('gestion_schema')}}">Génération de Champs</a>
      </li>


    </ul>

</nav>
    {% endif %}
  <p class="alert alert-success animate__animated animate__fadeIn">{{ app.user ? 'Compte : '~ app.user.username : '<a href="/login">Se connecter</a>' }}</p>
  

 
<script>
localStorage.clear();


{%if app.user %}
localStorage.setItem("username", "{{  app.user.username }}" );
localStorage.setItem("role", "{{app.user.roles[0]}}" );
{% endif %}
localStorage.setItem("url", "{{ app.request.getSchemeAndHttpHost() }}" );
var t1 =new Date()
var t2 = localStorage.getItem("data1");
if(t2==null){
  localStorage.setItem("data1",t1);    
}
  if(t1>t2){
    
    localStorage.removeItem("menus");
  }
  var initssm = localStorage.getItem("ssm");
    console.log(initssm);
  if (!initssm ){
    
    localStorage.setItem("ssmloaded","false")
  } 

</script>

 <div id="root"  ></div>
 


{% endblock %}
{% block javascripts %}
     {{ encore_entry_script_tags('app') }}
{% endblock %}