{% extends 'base.html.twig' %}

{% block title %}Magazines Plus{% endblock %}

{% block body %}


<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="{{path('homme')}}">Home</a>
    </li>
     {% for men in menu %}
      <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle"  href="#" id="navbardrop" data-toggle="dropdown">{{men.menlib}} </a>
       <div class="dropdown-menu">
            {%for ssmen in men.getSsmenusChildren(men.id) %}
                  {%for ch in ssmen.getOngChildren1(men.id) %}
                         <a class="dropdown-item" href="?ong={{ch.id~"&type="~ch.ongphp~"&men="~men.id~"&ssmen="~ssmen.id}}">{{(ssmen.ssmlib)}}</a>
                  {%endfor%}
            {% endfor %}
      </div>
    </li>   
     {% endfor %}
     {% if is_granted('ROLE_ADMIN') %}
      <li class="nav-item">
        <a class="nav-link" href="{{path('sonata_admin_dashboard')}}">Admin</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{path('api_entrypoint')}}">Api</a>
      </li>
          <li class="nav-item">
        <a class="nav-link" href="{{path('gestion_schema')}}">Génération de Champs</a>
      </li>
    {% endif %}


    </ul>

</nav>
  <p class="bg-success">Compte: {{ app.user.username }}</p>
  
{% set mesabos = [] %}

  {% for abo in app.user.getAbonnement()%}
  
  {% set mesabos = mesabos|merge( ["/api/magazines/"~abo.getMagazine().id] ) %}
 {% endfor %}

 {% for mes in app.user.getMessages()%}
 <div class="alert alert-success alert-dismissible">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Success!</strong>{{mes.message}}
</div>
 
 {% endfor %}

{% if not app.request.get("ong") %}
        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h1>Projet Gestion de Contenu</h1>      
            <h3>-L'onglet admin permet la création de menu - sousmnu - onglets champs .</h3>
            <h3>-L'Api web sert les donnés à afficher .</h3>
            <h3>-L'onglet Génération de champs permet de générer les champs à afficher a partir d'une des tables de la base de donnéés .</h3>
          </div>
        </div>
{% endif %}
        
        {% set apipath = "" %}
        {% set onglet = "" %}
        {% set chmparr = [] %} 
        <br>
        <ul class="nav nav-pills" id="ssm">

        {% for smen in ssmenu %}
        {% if smen.getMenu().id == app.request.get('men') %}
         <li class="nav-item  dropdown">
                    <a class="nav-link {{smen.id==app.request.get('ssmen')? 'active' :'' }}  dropdown-toggle" data-toggle="dropdown" href="#" id="ssm{{smen.id}}" >{{smen.ssmlib}}</a>
        <div class="dropdown-menu" id="divssm{{smen.id}}">

    </div>
       </li>
        {% endif %}
        {% endfor %}
        </ul>
        {% set ongarr=[] %}
  {# affichge de la rechercher       #}      
      {%for ssmen in ssmenu %}
      {%for ong in ssmen.getOngbyId(ong) %}
      {% set apipath = ong.ongsql %}
{% if ong.ongcon ==2 %}
  {% if ong.id ==3 %}
      {% set apipath = apipath~"?id="~app.user.id %}
  {% else %}
      {% set apipath = apipath~"?client="~app.user.id %}
  {% endif %}
{% endif %}
{% set ongarr = ong %}     
{% set chmparr = ong.getChampsOrd() %}   
   
      {% if app.request.get('type')=='recherche' %}
      
      {% include "recherche.html.twig" with {"champs" : ong.getChampsOrd(),"apipath":apipath} %}
    
      {% include "modal.html.twig" with {"champs" : ong.getChampsOrd(),"apipath":apipath} %}
      {% endif %}
      {% if app.request.get('type')=='detail' %}
      <div class="container">
      {% include "detail.html.twig" with {"champs" : ong.getChampsOrd(),"apipath":apipath} %}
      </div>
      {% endif %}
      {% endfor %}
      {% endfor %}


 {%if app.request.get('ong') %}
<script>
$(document).ready(function(){

var ssmdiv=$("div[id*='divssm']");
 var path='{{app.request.schemeAndHttpHost ~ app.request.baseUrl~path('api_entrypoint')}}';
     // generation des sous Menus     
ssmdiv.each(function() {
  var idv = this.id;
   var iddiv= idv.slice(6,idv.length);
   //console.log(iddiv) ;
   $.get(path+"/ssmenus/"+iddiv+"/onglets", function(data, status){
   var onglets = data["hydra:member"];
   for (var prop in onglets) {
    // console.log(data)
   $("#"+idv).append('<a class="dropdown-item" href="?ong='+onglets[prop].id+'&con='+onglets[prop].ongcon+'&type='+onglets[prop].ongphp+'&men='+'{{app.request.get('men')}}">'+onglets[prop].onglib+'</a>');
}
  });

     });
    
   
});
</script>
    {% endif %}

{% endblock %}
