{% extends 'base.html.twig' %}

{% block title %}Hello PaiementController!{% endblock %}

{% block body %}
{{dump(host)}}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

{% if not data %}
<div class="example-wrapper">
    <h1>{{ controller_name }}</h1>

    <p id="paylabel">Vous etes sur le point d'éffectuer un paiement:</p>

    {{ form(paiementForm) }}
</div>
<script>
var datain =  {{data|json_encode()|raw}};
var jsonform = JSON.stringify(datain);
var myParam = location.search.split('p=')[1]
var decrypted = CryptoJS.AES.decrypt(myParam, "Secret Passphrase");
var idabonement = decrypted.toString(CryptoJS.enc.Utf8);
var itemabbo=[];

if (typeof(Storage) !== "undefined") {
  // Store
 // localStorage.setItem("lastname", "Smith");
  // Retrieve
  itemabbo=localStorage.getItem(idabonement);
  
} else {
  //document.getElementById("result").innerHTML = "Sorry, your browser does not support Web Storage...";
}
itemabbo = JSON.parse(itemabbo);
$("#paylabel").append("<p> Prix à payer : "+itemabbo["priapayer"]+" Euros</p>");
var r = Math.random().toString(36).substring(7);
$( "input[name='form[CID]']" ).val(itemabbo["id"]+'-'+itemabbo["client"].slice(11,itemabbo["client"].length)+'*'+r);
$( "input[name='form[AMOUNT]']" ).val(itemabbo["priapayer"]);
</script>
{% else %}
<script>
var datain =  {{data|json_encode()|raw}};
var payhost = "{{host|raw}}";
var jsonform = JSON.stringify(datain);
var myParam = location.search.split('p=')[1]
var decrypted = CryptoJS.AES.decrypt(myParam, "Secret Passphrase");
var idabonement = decrypted.toString(CryptoJS.enc.Utf8);
var itemabbo=[];
console.log(datain['UUID'])
if (typeof(Storage) !== "undefined") {
  // Store
 // localStorage.setItem("lastname", "Smith");
  // Retrieve
  itemabbo=localStorage.getItem(idabonement);

} else {
  //document.getElementById("result").innerHTML = "Sorry, your browser does not support Web Storage...";
}
itemabbo = JSON.parse(itemabbo);
var x = Math.random().toString(36).replace(/[^a-z]+/g, '').substr(0, 5);
//var paydata = JSON.stringify({ uuid : datain['UUID'],cid : datain['CID'],cardnumber : datain['CARDNUMBER'],month : datain['MONTH'],year : datain['YEAR'],amount:itemabbo["priapayer"] });
var paydata = JSON.stringify({ uuid : "8e39f14a-d44e-51bb-8782-89723e586aa5",cid : "test01",cardnumber : datain['CARDNUMBER'],month : datain['MONTH'],year : datain['YEAR'],amount:itemabbo["priapayer"] });
var paydatapath = "http://ec2-52-47-88-142.eu-west-3.compute.amazonaws.com:6543/cardpay/"+ "8e39f14a-d44e-51bb-8782-89723e586aa5"+"/"+x+"/"+ datain['CARDNUMBER']+"/"+datain['MONTH']+"/"+datain['YEAR']+"/"+itemabbo["priapayer"];
 
</script>
{% endif %}
{% endblock %}
