<h1>{{ong.onglib}}</h1>
 <button class="btn btn-info" id="btnmodif">Modifier</button> 
<form action="/api/apicmptfilter" method="POST">
 <div class="container bg-light" id="mbinput1">
   {% for ch in champs %}
                <ul class="list-group">
            {% if ch.chptyp == 'integer' and ch.chpsai ==1 %}
 <li class="list-group-item" >
            
            <label width="100px" class="bg-secondary" for="{{ch.chpcha}}">{{ch.chplib}}    :</label>
            <input class="simpleCart_input" type="number" name="{{ch.chpcha}}" id="in{{ch.chpcha|lower}}" {{ch.chprec==1? "required":""}}><br> 
            <p id="para{{ch.chpcha|lower}}"></p>
          </li>
            {% endif %}

          {% if ch.chptyp == 'boolean' and ch.chpsai ==1 %}
 <li class="list-group-item" >
            <label width="100px" class="bg-secondary" for="{{ch.chpcha}}">{{ch.chplib}}    :</label>
            <input class="simpleCart_input" type="text" name="{{ch.chpcha}}" id="in{{ch.chpcha|lower}}" {{ch.chprec==1? "required":""}}><br> 
             <p id="para{{ch.chpcha|lower}}"></p>
</li>
            {% endif %}

            {% if ch.chptyp  starts with 'double' and ch.chpsai ==1 %}
 <li class="list-group-item" >
            <label width="100px" class="bg-secondary" for="{{ch.chpcha}}">{{ch.chplib}}    :</label>
            <input class="simpleCart_input" type="number" name="{{ch.chpcha}}" id="in{{ch.chpcha|lower}}" {{ch.chprec==1? "required":""}}><br> 
             <p id="para{{ch.chpcha|lower}}"></p>
            </li>
            {% endif %}

           
            {% if ch.chptyp == 'date' and ch.chpsai ==1 %}
 <li class="list-group-item" >
            <label width="100px" class="bg-secondary" for="{{ch.chpcha}}">{{ch.chplib}}    :</label>
            <input class="simpleCart_input" type="date" name="{{ch.chpcha}}" id="in{{ch.chpcha|lower}}"  {{ch.chprec==1? "required":""}}><br> 
             <p id="para{{ch.chpcha|lower}}"></p>
            </li>
            {% endif %}
            
            {% if ch.chptyp  starts with 'character' and ch.chpsai ==1 %}
 <li class="list-group-item" >

            <label width="100px" class="bg-secondary" for="{{ch.chpcha}}">{{ch.chplib}}    :</label>
            <input class="simpleCart_input" type="text" name="{{ch.chpcha}}" id="in{{ch.chpcha|lower}}"  {{ch.chprec==1? "required":""}}><br> 
            <p id="para{{ch.chpcha|lower}}"></p>
            </li>

            {% endif %} 

            {% if ch.chptyp  starts with 'text' and ch.chpsai ==1 %}
 <li class="list-group-item" >

            <label width="100px" class="bg-secondary" for="{{ch.chpcha}}">{{ch.chplib}}    :</label>
            <textarea class="simpleCart_input" type="text" name="{{ch.chpcha}}" id="in{{ch.chpcha|lower}}"  {{ch.chprec==1? "required":""}}></textarea><br> 
            <p id="para{{ch.chpcha|lower}}"></p>
            </li>

            {% endif %} 

            {% if ch.chptyp  starts with 'icon' and ch.chpsai ==1 %}
 <li class="list-group-item">

                 <label width="100px" class="bg-secondary" for="{{ch.chpcha}}">{{ch.chplib}}    :</label>
            </li>

                <div name="{{ch.chpcha}}" id="{{ch.chpcha|lower}}"></div>
            {% endif %} 

            {% if ch.chptyp  starts with 'timestamp' and ch.chpsai ==1 %}
 <li class="list-group-item" >

            <label width="100px" class="bg-secondary" for="{{ch.chpcha}}">{{ch.chplib}}    :</label>
            <input class="simpleCart_input" type="date" name="{{ch.chpcha}}" id="in{{ch.chpcha|lower}}"  {{ch.chprec==1? "required":""}}><br> 
            <p id="para{{ch.chpcha|lower}}"></p>
            </li>

            {% endif %}            
     </ul>

        {% endfor %}
             </div>
             <input id="btnsend" type="submit" value="Envoyer">
</form>


        <script>
$(document).ready(function(){
 var apipath1="{{apipath|raw}}";
 var apipath = "/api/apicmptfilter"+apipath1;
 $("#btnsend").hide();
$('#mbinput1 :input').hide();
 $("#btnmodif").click(function(){
   if($("#btnmodif").text()=="Modifier"){
    $("[id^='para']").hide();
    $('#mbinput1 :input').show();
    $("#btnmodif").text("Valider");
   }
    if($("#btnmodif").text()=="Valider"){
        //valider
    $("#btnsend").show();
    }
    
  });
 detail_modif(apipath);
    });

function detail_modif(id){
    
     $('#btnsend').data('path',id);
      var $inputs = $('#mbinput1 :input');
     
 $inputs.each(function() {
    $(this).val("");
 });
  $.get(id, function(data, status){

  
    
     $inputs.each(function() {
        var chpnom =$(this).attr('name');
      
        $('#para'+chpnom).text(data[0][chpnom]);
        $('#in'+chpnom).val(data[0][chpnom]);
      

          if($(this).attr('name')=='numeroRue'){
    
    $("#innumerorue").val(data[0]["numeroRue"]);
  
    $('#paranumerorue').text($("#innumerorue").val().toString())
  
   
    }
        if($(this).attr('type')=='date'){
         $('#in'+chpnom).val(data[0][chpnom].slice(0, 10));    
        }
    })
 
  });
    }

    function detail_voir(id,image){
      
       detail_modif(id);
       (id);
       $("#btnsend").hide();
        var ongcre = {{ong.ongcre}};
        var btnscre1 = "{{ong.ongsqlcre}}";
     if (image === 'undefined') {
         console.log("pas de modal");
     } else {
        $.get(image, function(data, status){
            $("#mbinput").append('<img id="imgmodal" src="{{ asset('img/') }}'+data.filename+'" /><br>');

            if(ongcre==0)    {
                $('.simpleCart_input').replaceWith(function(){
                  
                return '<span class='+this.className+"text-dark"+'>'+this.value+'</span>'
                })
            }
            
            if (btnscre1) $("#mbinput").append('<button  type="button" class="btn btn-info" id="'+id+'" onclick="{{ong.ongsqlcre}}" > Abonner</button>');
            $('#myModal').modal('show');
        }); 
     }
    

    }


        </script>