<h1>{{ong.onglib}}</h1>

 <div class="container" id="mbinput1">
   {% for ch in champs %}
            
                <ul class="list-group">
            {% if ch.chptyp == 'integer' and ch.chpsai ==1 %}
 <li class="list-group-item" >
            
                <label width="100px" class="bg-secondary" for="{{ch.chpcha}}">{{ch.chplib}}    :</label><br>
               <input class="simpleCart_input" type="number" name="{{ch.chpcha}}" id="in{{ch.chpcha|lower}}" {{ch.chprec==1? "required":""}}><br> 
          </li>
            {% endif %}

          {% if ch.chptyp == 'boolean' and ch.chpsai ==1 %}
 <li class="list-group-item" >
                <label width="100px" class="bg-secondary" for="{{ch.chpcha}}">{{ch.chplib}}    :</label><br>
               <input class="simpleCart_input" type="text" name="{{ch.chpcha}}" id="in{{ch.chpcha|lower}}" {{ch.chprec==1? "required":""}}><br> 
</li>
            {% endif %}

            {% if ch.chptyp  starts with 'double' and ch.chpsai ==1 %}
 <li class="list-group-item" >
                <label width="100px" class="bg-secondary" for="{{ch.chpcha}}">{{ch.chplib}}    :</label><br>
               <input class="simpleCart_input" type="number" name="{{ch.chpcha}}" id="in{{ch.chpcha|lower}}" {{ch.chprec==1? "required":""}}><br> 
            </li>
            {% endif %}

           
            {% if ch.chptyp == 'date' and ch.chpsai ==1 %}
 <li class="list-group-item" >
                 <label width="100px" class="bg-secondary" for="{{ch.chpcha}}">{{ch.chplib}}    :</label><br>
                  <input class="simpleCart_input" type="date" name="{{ch.chpcha}}" id="in{{ch.chpcha|lower}}"  {{ch.chprec==1? "required":""}}><br> 
            </li>
            {% endif %}
            
            {% if ch.chptyp  starts with 'character' and ch.chpsai ==1 %}
 <li class="list-group-item" >

                 <label width="100px" class="bg-secondary" for="{{ch.chpcha}}">{{ch.chplib}}    :</label><br>
                  <input class="simpleCart_input" type="text" name="{{ch.chpcha}}" id="in{{ch.chpcha|lower}}"  {{ch.chprec==1? "required":""}}><br> 
            </li>

            {% endif %} 

            {% if ch.chptyp  starts with 'text' and ch.chpsai ==1 %}
 <li class="list-group-item" >

                 <label width="100px" class="bg-secondary" for="{{ch.chpcha}}">{{ch.chplib}}    :</label><br>
                  <textarea class="simpleCart_input" type="text" name="{{ch.chpcha}}" id="in{{ch.chpcha|lower}}"  {{ch.chprec==1? "required":""}}></textarea><br> 
            </li>

            {% endif %} 

            {% if ch.chptyp  starts with 'icon' and ch.chpsai ==1 %}
 <li class="list-group-item">

                 <label width="100px" class="bg-secondary" for="{{ch.chpcha}}">{{ch.chplib}}    :</label>
            </li>

                <div name="{{ch.chpcha}}" id="{{ch.chpcha|lower}}"></div>
            {% endif %} 

            {% if ch.chptyp  starts with 'timestamp' and ch.chpsai ==1 %}
 <li class="list-group-item" >

                 <label width="100px" class="bg-secondary" for="{{ch.chpcha}}">{{ch.chplib}}    :</label><br>
                  <input class="simpleCart_input" type="date" name="{{ch.chpcha}}" id="in{{ch.chpcha|lower}}"  {{ch.chprec==1? "required":""}}><br> 
            </li>

            {% endif %}            
     </ul>
            {% else %}

 <div class="form-group d-inline-flex p-2 text-primary">
                
            {% if ch.chptyp == 'integer' and ch.chpsai ==1 %}
                <label width="100px" class="bg_secondary" for="{{ch.chpcha}}">{{ch.chplib}}    :</label>
               <input type="number" name="{{ch.chpcha}}" id="in{{ch.chpcha}}" {{ch.chprec==1? "required":""}}><br> 
            {% endif %}

          {% if ch.chptyp == 'boolean' and ch.chpsai ==1 %}
                <label width="100px" class="bg_secondary" for="{{ch.chpcha}}">{{ch.chplib}}    :</label>
               <input type="text" name="{{ch.chpcha}}" id="in{{ch.chpcha|lower}}" {{ch.chprec==1? "required":""}}><br> 
            {% endif %}

            {% if ch.chptyp  starts with 'double' and ch.chpsai ==1 %}
                <label width="100px" class="bg_secondary" for="{{ch.chpcha}}">{{ch.chplib}}    :</label>
               <input type="number" name="{{ch.chpcha}}" id="in{{ch.chpcha|lower}}" {{ch.chprec==1? "required":""}}><br> 
            {% endif %}

           
            {% if ch.chptyp == 'date' and ch.chpsai ==1 %}
                 <label width="100px" class="bg_secondary" for="{{ch.chpcha}}">{{ch.chplib}}    :</label>
                  <input type="date" name="{{ch.chpcha}}" id="in{{ch.chpcha|lower}}"  {{ch.chprec==1? "required":""}}><br> 
            {% endif %}
            
            {% if ch.chptyp  starts with 'character' and ch.chpsai ==1 %}
                 <label width="100px" class="bg_secondary" for="{{ch.chpcha}}">{{ch.chplib}}    :</label>
                  <input type="text" name="{{ch.chpcha}}" id="in{{ch.chpcha|lower}}"  {{ch.chprec==1? "required":""}}><br> 
            {% endif %} 

            {% if ch.chptyp  starts with 'text' and ch.chpsai ==1 %}
                 <label width="100px" class="bg_secondary" for="{{ch.chpcha}}">{{ch.chplib}}    :</label>
                  <textarea type="text" name="{{ch.chpcha}}" id="in{{ch.chpcha|lower}}"  {{ch.chprec==1? "required":""}}></textarea><br> 
            {% endif %} 

            {% if ch.chptyp  starts with 'icon' and ch.chpsai ==1 %}
                 <label width="100px" class="bg_secondary" for="{{ch.chpcha}}">{{ch.chplib}}    :</label>
                <div name="{{ch.chpcha}}" id="in{{ch.chpcha|lower}}"></div>
            {% endif %} 

            {% if ch.chptyp  starts with 'timestamp' and ch.chpsai ==1 %}
                 <label width="100px" class="bg_secondary" for="{{ch.chpcha}}">{{ch.chplib}}    :</label>
                  <input type="date" name="{{ch.chpcha}}" id="in{{ch.chpcha|lower}}"  {{ch.chprec==1? "required":""}}><br> 
            {% endif %}            
            </div>
           
        {% endfor %}
             </div>

        <script>
$(document).ready(function(){
 var apipath1="{{apipath}}";
 var apipath = "/api/apicmptfilter";

 detail_modif(apipath.concat('',apipath1.slice(5,apipath1.length)));
    });

function detail_modif(id){
    $("#btnsend").show();   
     $('#btnsend').data('path',id);
      var $inputs = $('#mbinput1 :input');
     
 $inputs.each(function() {
    $(this).val("");
 });
  $.get(id, function(data, status){
//console.log($inputs);
  
    
     $inputs.each(function() {
        var chpnom =$(this).attr('name');

        $('#in'+chpnom).val(data[0][chpnom]);
      //console.log($('#in'+chpnom));

          if($(this).attr('name')=='numerorue'){
    //console.log( $("#innumerorue"));
    //$("#titre").text(data[chpnom]);
    }
        if($(this).attr('type')=='date'){
         $('#in'+chpnom).val(data[0][chpnom].slice(0, 10));    
        }
    })
 
  });
    
    }

    function detail_voir(id,image){
      
       detail_modif(id);
       (id);
       $("#btnsend").hide();
        var ongcre = {{ong.ongcre}};
        var btnscre1 = "{{ong.ongsqlcre}}";
     if (image === 'undefined') {
         console.log("pas de modal");
     } else {
        $.get(image, function(data, status){
            $("#mbinput").append('<img id="imgmodal" src="{{ asset('img/') }}'+data.filename+'" /><br>');

            if(ongcre==0)    {
                $('.simpleCart_input').replaceWith(function(){
                  
                return '<span class='+this.className+"text-dark"+'>'+this.value+'</span>'
                })
            }
            
            if (btnscre1) $("#mbinput").append('<button  type="button" class="btn btn-info" id="'+id+'" onclick="{{ong.ongsqlcre}}" > Abonner</button>');
            $('#myModal').modal('show');
        }); 
     }

    }


        </script>