{# empty Twig template #}
<!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header bg-info">
          <h4 id="titre1" class="modal-title">{{ong.onglib}}</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
      
        <!-- Modal body -->
        <div class="modal-body" id="mbinput">

                <ul class="list-group">
            {% for ch in champs %}
          
            {% if ch.chptyp == 'integer' and ch.chpsai ==1 %}
 <li class="list-group-item" >
            
                <label width="100px" class="bg-secondary" for="{{ch.chpcha}}">{{ch.chplib}}    :</label><br>
               <input class="simpleCart_input" type="number" name="{{ch.chpcha}}" id="in{{ch.chpcha|lower}}" {{ch.chprec==1? "required":""}}><br> 
       
          </li>
            {% endif %}

          {% if ch.chptyp == 'boolean' and ch.chpsai ==1 %}
 <li class="list-group-item" >
                <label width="100px" class="bg-secondary" for="{{ch.chpcha}}">{{ch.chplib}}    :</label><br>
               <input class="simpleCart_input" type="text" name="{{ch.chpcha}}" id="in{{ch.chpcha|lower}}" {{ch.chprec==1? "required":""}}><br> 
</li>
            {% endif %}

            {% if ch.chptyp  starts with 'double' and ch.chpsai ==1 %}
 <li class="list-group-item" >
                <label width="100px" class="bg-secondary" for="{{ch.chpcha}}">{{ch.chplib}}    :</label><br>
               <input class="simpleCart_input" type="number" name="{{ch.chpcha}}" id="in{{ch.chpcha|lower}}" {{ch.chprec==1? "required":""}}><br> 
          
            </li>
            {% endif %}

           
            {% if ch.chptyp == 'date' and ch.chpsai ==1 %}
 <li class="list-group-item" >
                 <label width="100px" class="bg-secondary" for="{{ch.chpcha}}">{{ch.chplib}}    :</label><br>
                  <input class="simpleCart_input" type="date" name="{{ch.chpcha}}" id="in{{ch.chpcha|lower}}"  {{ch.chprec==1? "required":""}}><br> 
           
            </li>
            {% endif %}
            
            {% if ch.chptyp  starts with 'character' and ch.chpsai ==1 %}
 <li class="list-group-item" >

                 <label width="100px" class="bg-secondary" for="{{ch.chpcha}}">{{ch.chplib}}    :</label><br>
                  <input class="simpleCart_input" type="text" name="{{ch.chpcha|lower}}" id="in{{ch.chpcha|lower}}"  {{ch.chprec==1? "required":""}}><br> 
             
            </li>

            {% endif %} 

            {% if ch.chptyp  starts with 'text' and ch.chpsai ==1 %}
 <li class="list-group-item" >

                 <label width="100px" class="bg-secondary" for="{{ch.chpcha}}">{{ch.chplib}}    :</label><br>
                  <textarea class="simpleCart_input" type="text" name="{{ch.chpcha}}" id="in{{ch.chpcha|lower}}"  {{ch.chprec==1? "required":""}}></textarea><br> 
            
            </li>

            {% endif %} 

            {% if ch.chptyp  starts with 'icon' and ch.chpsai ==1 %}
 <li class="list-group-item">

                 <label width="100px" class="bg-secondary" for="{{ch.chpcha}}">{{ch.chplib}}    :</label>
            
            </li>

                <div name="{{ch.chpcha}}" id="{{ch.chpcha|lower}}"></div>
            {% endif %} 

            {% if ch.chptyp  starts with 'timestamp' and ch.chpsai ==1 %}
 <li class="list-group-item" >

                 <label width="100px" class="bg-secondary" for="{{ch.chpcha}}">{{ch.chplib}}    :</label><br>
                  <input class="simpleCart_input" type="date" name="{{ch.chpcha}}" id="in{{ch.chpcha|lower}}"  {{ch.chprec==1? "required":""}}><br> 
            
            </li>

            {% endif %}            
  

           
           
        {% endfor %}
     </ul>
         
          <button id="btnsend" name="btnsend" data-path="id1" onclick="modal_put('PUT')" class="btn btn-primary">Submit</button>

        </div>

        <!-- Modal footer -->
        <div class="modal-footer bg-info">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>

  </div>