{# empty Twig template #}
<!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header bg-info">
          <h4 class="modal-title">Modal Heading</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
      
        <!-- Modal body -->
        <div class="modal-body" id="mbinput">
            {% for ch in champs %}
          

            <div class="form-group d-inline-flex p-2 text-primary">
                
            {% if ch.chptyp == 'integer' and ch.chprec ==1 %}
                <label width="100px" class="bg_secondary" for="{{ch.chpcha}}">{{ch.chplib}}    :</label>
               <input type="number" name="{{ch.chpcha}}" id="{{ch.chpcha|lower}}" {{ch.chprec==1? "required":""}}><br> 
            {% endif %}
            
            {% if ch.chptyp == 'date' and ch.chprec ==1 %}
                 <label width="100px" class="bg_secondary" for="{{ch.chpcha}}">{{ch.chplib}}    :</label>
                  <input type="date" name="{{ch.chpcha}}" id="{{ch.chpcha|lower}}"  {{ch.chprec==1? "required":""}}><br> 
            {% endif %}
            
            {% if ch.chptyp  starts with 'character' and ch.chprec ==1 %}
                 <label width="100px" class="bg_secondary" for="{{ch.chpcha}}">{{ch.chplib}}    :</label>
                  <input type="text" name="{{ch.chpcha}}" id="{{ch.chpcha|lower}}"  {{ch.chprec==1? "required":""}}><br> 
            {% endif %}            
            </div>
        {% endfor %}
          <button id="btnsend" name="btnsend" data-path="id1" onclick="modal_put('PUT')" class="btn btn-primary">Submit</button>

        </div>

        <!-- Modal footer -->
        <div class="modal-footer bg-info">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>