{# empty Twig template #}

    <h2>
        {{ ong.ongcom }}
    </h2>
  

    <br>
 <table class="display compact table-hover" id="recherche" style="width:70%">
    <thead>
      <tr>
          {% set hcol = [] %} 
          {% set hcol1 = [] %}  

          {%for ch in champs %}
{% if ch.chprec != 0 %}
        <th>{{ch.chpcha}}</th>
             {% set hcol = hcol|merge([ch.chpcha|lower]) %}  
             {% set hcol1 = hcol1|merge([{data :ch.chpcha|lower,"width": "5%",className: "bg-secondary"}]) %}  
{% endif %}
{% endfor %}
 {% set hcol1 = hcol1|merge([{ className: "bg-info","ordering": false, "width": "10%", "searching": false}]) %}  
<th>Action</th>
      </tr>
    </thead>
    <tbody id="fline">

     
    </tbody>
           <tfoot>
            <tr>
             {%for ch in champs %}
{% if ch.chprec != 0 %}
        <th id="{{ch.chpcha}}" >{{ch.chpcha}}</th>
           
{% endif %}
    
{% endfor %}
<th>Action</th>
            </tr>
        </tfoot>
  </table>



{% if ong.ongcre >3 %}
<boutton class="btn btn-primary" data-toggle="modal" data-target="#myModal" onclick="change_click()">Création<boutton>
{% endif %}

      
     

    <script>
// initialisation varibles javascript
var hcol1 =  {{hcol1|json_encode()|raw}};
   console.log(hcol1);
$(document).ready(function(){
   var hcol =  {{hcol|json_encode()|raw}};
   var hcol1 =  {{hcol1|json_encode()|raw}};
   $( "tfoot th:last-child" ).hide();
   
table(hcol1);
var divimg = $("div[id^='divrow']")
    });

  //  initiliasation data table  
 function table(hcol1){
     var countrow = 0 ;
     $.get("{{app.request.schemeAndHttpHost ~ app.request.baseUrl~path('api_entrypoint')~"/"~apipath}}", function(data, status){
  
 var count = 0 ;
var table = $('#recherche').DataTable({

    data: data["hydra:member"],
    columnDefs: [ {
    "targets": -1,
    "data":null,
    "searchable": false, 
    "orderable": false,
    "render": function ( data, type, row, meta ) {

      return '<div  class="bg-secondary" data-text="'+row["magazine"]+'" data-image="'+row["image"]+'" id="divrow'+row["@id"].slice(15,row["@id"].length)+'"><a class="btn btn-success " id="'+row["@id"]+'" data-ong="{{ongarr.id}}" data-image="'+row["image"]+'"  onclick="detail_voir(this.id,this.dataset.image)">V</a> </div>';
    }
  },
  { "width": "5%", "targets": 1 }
   ],
  "language": {
            "url": "{{ asset('/french.json') }}"
        },
    columns: hcol1,
    deferRender: true,
    "createdRow": function ( row, data, index ) {
       // console.log(hcol1[0].data) 
        var rowkeys = Object.keys(row.children);
        rowkeys.forEach(element => {
if(hcol1[element].data=="date" || hcol1[element].data=="datefin" ){
row.children[element].childNodes[0].data = row.children[element].childNodes[0].data.slice(0,10);
}
        });
      
       row.children[0].classList.add("bg-info")
        },
    initComplete: function () {

 var divimg = $("div[id^='divrow']")

            this.api().columns().every( function () {
                var column = this;
                var select = $('<select><option value=""></option></select>')
                    .appendTo( $(column.footer()).empty() )
                    .on( 'change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                        );
 
                        column
                            .search( val ? '^'+val+'$' : '', true, false )
                            .draw();
                    } );
 
                column.data().unique().sort().each( function ( d, j ) {
                    select.append( '<option value="'+d+'">'+d+'</option>' )
                } );
 
               
            } );
        },
} );


});

    }

// initialistation modal à afficher ou à modifier recuperation de données et remplissage
function detail_modif(id){
    $("#btnsend").show();   
    $('#btnsend').data('path',id);
    var $inputs = $('#mbinput :input');
     
    $inputs.each(function() {
        $(this).val("");
    });
    
    $.get(id, function(data, status){
    // console.log(data);
    
    $inputs.each(function(i, el) {
    
    var chpnom =$(this).attr('name').toLowerCase();

    $('#para'+chpnom).text(data[chpnom]);
    $('#in'+chpnom).val(data[chpnom]);
    //console.log(chpnom+' '+data[chpnom]);
    if ($("mbinput").children('#img') && i===0) {
       $('#img').empty();
       $('#img').append(data['filename']);
     
    }       

    
    if($(this).attr('type')=='date'){
         $('#in'+chpnom).val(data[chpnom].slice(0, 10));    
    }
    })
 
  });
    
    }

    // utilisation de methodes post,put,delette pour une modal
    
    function modal_put(method){
       var mdlfrm = {};  
       var md2=[];
       var $inputs = $('#mbinput :input');
      
        var path="";
             
        
        if(method=='PUT'){
           path = $('#btnsend').data("path");
           $inputs.each(function() {
           mdlfrm[$(this).attr('name').toLowerCase()]=$(this).val();
       
           if($(this).attr("type")=='number'){
                mdlfrm[$(this).attr('name').toLowerCase()]=parseInt($(this).val());  
           }
        }); 
        }
        
         if(method=='DELETE'){
           path = $('a[name=delbtn]').attr('id');
        }
       
       if (method=='POST'){
           path='{{app.request.schemeAndHttpHost ~ app.request.baseUrl~path('api_entrypoint')~"/"~apipath}}';
     
           $inputs.each(function() {
           mdlfrm[$(this).attr('name').toLowerCase()]=$(this).val();
     
           if($(this).attr("type")=='number'){
                mdlfrm[$(this).attr('name').toLowerCase()]=parseInt($(this).val());  
        }
        })
    }
     var jsonform = JSON.stringify(mdlfrm);
    $.ajax(path, {
    method: method,
    contentType: 'application/json',
    processData: false,
    data: jsonform
})
.then(
    function success(data) {
   
        alert('modifications prise en compte');
       
         $('#myModal').modal('hide');
         location.reload();
       
    }
);
    }
    // preparation et affichage du modal 
    function detail_voir(id,image){
       detail_modif(id);
       (id);
       $("#btnsend").hide();
       var ongcre = "{{ong.ongcre}}";
        if(ongcre==0)    {
                 $('#mbinput :input').each(function (i, el) {
                    el.style.visibility = "hidden";
       // console.log(el);
     });
           }

        var btnscre1 = "{{ong.ongsqlcre}}";
        $(".modal-footer").empty();
        if (btnscre1) {
             var  sqlcre="{{ong.ongsqlcre}}";
            arrsqlcre = sqlcre.split("|");
             $(".modal-footer").append('<button  type="button" class="btn btn-info tthide" id="'+id+'" onclick="'+arrsqlcre[0]+'">' +arrsqlcre[1]+'</button>');
         }
         var btnsupd = "{{ong.ongsqlupd}}";
        if (btnsupd) {
            var  sqlupd="{{ong.ongsqlupd}}";
            arrsqlupd = sqlupd.split("|");
             $(".modal-footer").append('<button  type="button" class="btn btn-info tthide" id="'+id+'" onclick="'+arrsqlupd[0]+'">' +arrsqlupd[1]+'</button>');
         }
     if (image === 'undefined') {
          $('#myModal').modal('show');  
     } else {
        
        //$.get(image, function(data, status){
        //    $("#mbinput").append('<img id="imgmodal" src="{{ asset('img/') }}'+data.filename+'" /><br>');
           
       // }); 
            $('#myModal').modal('show');
     }
          
    }

    function change_click(){
     $('#btnsend').attr("onclick","modal_put('POST')");
     var $inputs = $('#mbinput :input');
          $inputs.each(function() {
    $(this).val("");
     });
    }
    
    function del(){
    modal_put("DELETE");
    }

     function payer(id){
     alert("payer"+id);
    }
     function sabonner(id,typed){
         var divid = id.slice(17,id.length);
         var mag;
         var divimg = $("div[id^='divrows/"+divid+"']");
         divimg.each(function() {
      
       mag = $(this)[0].dataset.text;
       //console.log($(this)[0].dataset.text);
    });    
    if (typed===1) {
        var path = "/api/abonnements";
       var datapost = { date:"2019-06-26T08:15:44.087Z",client: "api/users/{{app.user.id}}",  "magazine": id, "encours": true  };
       method ="POST";
    }
   if (typed===2) {
       var path = id;
       datapost = { date:"2019-06-26T08:15:44.087Z",client: "api/users/{{app.user.id}}",  "magazine": mag, "encours": false  };
       method ="PUT";
   }
       
         var jsonform = JSON.stringify(datapost);
        
    $.ajax(path, {
    method: method,
    contentType: 'application/json',
    processData: false,
    data: jsonform
    })
    
    .then(
    function success(data) {
   
        alert('modification prise en compte');
       
         $('#myModal').modal('hide');
         location.reload();
       
    }
);   
   
    }

</script>
 

